<!-- singlepost.handlebars -->
<div class="post-details">
    <div class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>Posted by {{ post.user.username }} on {{ format_date post.date_created }}</p>
    </div>
</div>


<h2>Comments:</h2>
{{#if post.comments.length}}
    <ul>
        {{#each post.comments}}
        <ul>
            <div class="comment-details">
                <p>{{ comment_text }}</p>
                <p>Comment by {{ user.username }} on {{format_date date_created}} </p>
            </div>
        </ul>
        {{/each}}
    </ul>
{{else}}
    <p>No comments available.</p>
{{/if}}

<a href="/dashboard/edit/{{ post.id }}" class="btn edit-post-btn btn-danger text-light">Edit Post</a>

<button type="button" class="btn btn-danger text-light"><a href="/dashboard/new" class="btn">Add New Post</a></button>

<!-- Include client-side JavaScript to handle comment submission -->
<script src="/js/add-comment.js"></script>
