<div class="post-details">
    <div class="post">
    <h1>{{post.title}}</h1>
    <p>{{post.text}}</p>
    <p>Posted by {{post.user.name}} on {{format_date created_at}}</p>
    </div>
</div>

<h2>Comments:</h2>
{{#if post.comments.length}}
<ul>
    {{#each post.comments}}
    <li>
        <div class="comment-details">
            <p>{{this.comment_text}}</p>
            <p>Comment by {{this.name}} on {{format_date this.created_at}}</p>
        </div>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No comments available.</p>
{{/if}}

<a href="/dash/edit/{{post.id}}" class="btn edit-post-btn">Edit Post</a>

<!-- Include client-side JavaScript to handle comment submission -->
<script src="/js/comment.js"></script>
